[Unit]
Description=Keyserver
Wants=network.target
After=mongod.service

[Service]
User=keyserver
Group=keyserver
Environment=NODE_CONFIG_DIR=/etc/keyserver
EnvironmentFile=-/etc/sysconfig/keyserver
ExecStart=node /srv/www/keyserver/index.js
ProtectSystem=strict
PrivateTmp=true

[Install]
WantedBy=multi-user.target
