  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <!-- <li role="presentation"><a href="/">Home</a></li-->
        <!--li role="presentation" class="active"><a href="/manage.html">Manage Keys</a></li-->
        <!--li role="presentation"><a href="https://github.com/mailvelope/keyserver" target="_blank">GitHub</a></li-->
      </ul>
    </nav>
    <div class="top">
    <a href="/"><img id="logo" src="/images/SUSE_Chameleon_L_Green-neg_sRGB.svg"></a>
    <h2 id="title">SUSE OpenPGP Key Server</h2>
    </div>
  </div>
